.control-group
  != form.label("username", false, {class: "control-label"})
  .controls
    != form.input("username", {type: 'text'})
.control-group
  != form.label("fname", false, {class: "control-label"})
  .controls
    != form.input("fname", {type: 'text'})
.control-group
  != form.label("lname", false, {class: "control-label"})
  .controls
    != form.input("lname", {type: 'text'})
.control-group
  != form.label("email", false, {class: "control-label"})
  .controls
    != form.input("email", {type: 'text'})
.control-group
  != form.label("password", false, {class: "control-label"})
  .controls
    != form.input("password", {type: 'text'})
