.row
  .span12
    - form_tag({method: 'POST', class: 'well span4'}, function() {
      h2 Login.
      p.subheading Please Login To Your Account
      label Username
      input(type="text", name="user", id='user-tf').span4.required
      label Password
      input(type="password", name="pass", id='pass-tf').span4.required
      button(type="submit")#btn-login.btn.btn-primary
        i.icon-lock.icon-white
        |  Sign in
      label#remember-me.checkbox Remember Me
        input(type="checkbox", checked='checked')
      div.clear-fix
      hr
      div.btm-links
        a(href='#')#forgot-password Forgot Your Password?
        a(href='/signup')#create-account  Create An Account
    - });
    //- .well.span6
    //-   h2 Text
